/*
Project Name: Portfolio
Client: Miranda
Author: Miranda Traczyk
Developer @GA in LA
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************/
/*COLOR SCHEME*/
/******************************************

background green: rgba(229,234,215,1)
red: rgba(238, 79, 35, 1)
pink: rgba(245, 157, 135, .95)
yellow: rgba(234, 192, 23, .9)
blue: rgba(111, 167, 168, .9)
grey text: rgba(51, 51, 51, 1)
******************************************/



/******************************************
/* HOME PAGE BASE STYLES
/******************************************/

body {
  font-size: 16px;
  font-family: 'Assistant', sans-serif;
  background: rgba(229,234,215,1);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.mirandaTraczyk {
  color: rgba(238, 79, 35, .9);
  text-align: center;
  letter-spacing: .3rem;
}

nav ul {
  list-style-type: none;
  overflow: hidden;
  background-color: rgba(229,234,215,1);
}

nav li a {
  color: rgba(51, 51, 51, 1);
  text-transform: uppercase;
  letter-spacing: .1rem;
  margin-bottom: 125px;
  margin-top: 10px;
  padding: 14px 16px 0 0;
  float: right;
  display: inline-block;
  margin: 10px 25px 150px -140px;
  opacity: 0.6;
  background-color: transparent;
  text-decoration: none;
  padding-left: 150px;
  font-size: 1rem;
}

h1 {
  font-family: 'Abril Fatface';
  font-size: 8rem;
  letter-spacing: .3rem;
}

.title {
  text-transform: uppercase;
  letter-spacing: .65rem;
  text-align: center;
  color: rgba(51, 51, 51, 0.6);
  margin-top: 50px;
  margin-bottom: 150px;
}

.about h1 {
  color: rgba(245, 157, 135, .95);
  margin-left: 150px;
  display: inline-block;
  margin-top: 90px;
}

.aboutme {
  font-family: 'Assistant', sans-serif;
  font-size: 1rem;
  color: rgba(51, 51, 51, 1);
  letter-spacing: .1rem;
  line-height: 2;
  padding-left: 150px;
  padding-right: 325px;
  width: 75%;
  line-height: 2;
  display: inline-block;
  margin-top: 35px;
  opacity: 0.6;
}

.readmore a {
  color: rgba(51, 51, 51, 1);
  letter-spacing: .1rem;
  line-height: 2;
  background-color: transparent;
  text-decoration: none;
  padding-left: 150px;
  font-size: 1rem;
  opacity: 0.6;
}

#portrait img {
  width: 30%;
  margin-top: 105px;
  margin-left: 60%;
  float: right;
  display: inline-block;
  position: absolute;
  opacity: 0.9;
}

.work h1 {
  color: rgba(234, 192, 23, .9);
  text-align: center;
  margin-top: 345px;
}

.work img {
  width: 400px;
  display: inline-block;
  margin: 50px -35px 35px 75px;
  opacity: 0.85;
}

.sayhello a h1 {
  color: rgba(111, 167, 168, .9);
  text-align: center;
  margin-top: 150px;
  margin-bottom: 200px;
}

.helloLink {
  background-color: transparent;
  text-decoration: none;
}

/******************************************
/* UNIVERSAL FOOTER
/*******************************************/

.copyright {
  text-align: left;
  letter-spacing: 1.5px;
  color: rgba(51, 51, 51, 1);
  opacity: 0.6;
  font-size: .75rem;
  margin-left: 10px;
}

/******************************************
/* ABOUT PAGE
/*******************************************/

.mirandaTraczykAbout {
  font-family: 'Abril Fatface';
  font-size: 2rem;
  color: rgba(238, 79, 35, .9);
  text-align: center;
  float: left;
  margin: 30px 0 0 35px;
  opacity: .95;
  letter-spacing: .15rem;
}

.aboutPage h1 {
  color: rgba(30, 61, 27, .55);
  text-align: center;
  margin-top: -40px;
  margin-bottom: 35px;
}

.aboutmePage {
  font-family: 'Assistant', sans-serif;
  font-size: 1rem;
  color: rgba(51, 51, 51, 0.6);
  letter-spacing: .1rem;
  width: 50%;
  line-height: 2;
  display: inline-block;
  margin: 50px 25% 10px 26%;
}

#portraitAbout img {
  margin-top: 5px;
  width: 50%;
  display: inline-block;
  margin-left: 25%;
  float: left;
}

.copyrightAbout {
  text-align: left;
  letter-spacing: 1.5px;
  color: rgba(51, 51, 51, 1);
  opacity: 0.6;
  font-size: .75rem;
  margin-left: 10px;
  margin-top: 100px;
}

/******************************************
/* WORK PAGE
/*******************************************/

.projects {
  display: -webkit-flex; /* Safari */
    -webkit-align-items: center; /* Safari 7.0+ */
    display: flex;
    align-items: center;
    width: 220px;
    height: 300px;
    margin-top: 500px;
    margin-left: 45px;
}

.projects img {
  display: inline-block;
  margin-left: 35px;
  margin-top: 35px;
}

.copyrightWork {
  text-align: left;
  letter-spacing: 1.5px;
  color: rgba(51, 51, 51, 1);
  opacity: 0.6;
  font-size: .75rem;
  margin-left: 10px;
  margin-top: 700px;
}

/******************************************
/* AUDREY NAPOLEON PROJECT PAGE
/*******************************************/

.audreyProjects {
  display: -webkit-flex; /* Safari */
    -webkit-align-items: center;  Safari 7.0+ 
    display: flex;
    align-items: center;
    height: 300px;
    margin-top: 100px;
    margin-left: 3%;
}

.audreyProjects img {
  margin-left: 35px;
  margin-top: 35px;
}

.copyrightAudrey {
  text-align: left;
  letter-spacing: 1.5px;
  color: rgba(51, 51, 51, 1);
  opacity: 0.6;
  font-size: .75rem;
  margin-left: 10px;
  margin-top: 300px;
}

/******************************************
/* FILM PROJECT PAGE
/*******************************************/

.filmProjects {
  display: -webkit-flex; /* Safari */
    -webkit-align-items: center;  Safari 7.0+ 
    display: flex;
    align-items: center;
    width: 220px;
    height: 300px;
    margin-top: 1400px;
    margin-left: 33.33%;
}

.filmProjects img {
  margin-left: 35px;
  margin-top: 35px;
}

.copyrightFilm {
  text-align: left;
  letter-spacing: 1.5px;
  color: rgba(51, 51, 51, 1);
  opacity: 0.6;
  font-size: .75rem;
  margin-left: 10px;
  margin-top: 1600px;
}

/******************************************
/* DIANA GEORGIE PROJECT PAGE
/*******************************************/

.dianaProjects {
  display: -webkit-flex; /* Safari */
    -webkit-align-items: center;  Safari 7.0+ 
    display: flex;
    align-items: center;
    margin-top: -45px;
    margin-left: 22.5%;
    margin-bottom: -1350px;
}

.dianaProjects img {
  margin-left: 35px;
  margin-top: 35px;
}

.copyrightDiana {
  text-align: left;
  letter-spacing: 1.5px;
  color: rgba(51, 51, 51, 1);
  opacity: 0.6;
  font-size: .75rem;
  margin-left: 10px;
  margin-top: 1500px;
}


/******************************************
/* GENLUX PROJECT PAGE
/*******************************************/

.genluxProjects {
  display: -webkit-flex; /* Safari */
    -webkit-align-items: center;  Safari 7.0+ 
    display: flex;
    align-items: center;
    margin-top: -45px;
    margin-left: 22.5%;
    margin-bottom: -1350px;
}

.genluxProjects img {
  margin-left: 35px;
  margin-top: 35px;
}

.copyrightGenlux {
  text-align: left;
  letter-spacing: 1.5px;
  color: rgba(51, 51, 51, 1);
  opacity: 0.6;
  font-size: .75rem;
  margin-left: 10px;
  margin-top: 1500px;
}

/******************************************
/* GUCCI PROJECT PAGE
/*******************************************/

.gucciProjects {
  display: -webkit-flex; /* Safari */
    -webkit-align-items: center;  Safari 7.0+ 
    display: flex;
    align-items: center;
    margin-top: -45px;
    margin-left: 22.5%;
    margin-bottom: -1350px;
}

.gucciProjects img {
  margin-left: 35px;
  margin-top: 35px;
}

.copyrightGucci {
  text-align: left;
  letter-spacing: 1.5px;
  color: rgba(51, 51, 51, 1);
  opacity: 0.6;
  font-size: .75rem;
  margin-left: 10px;
  margin-top: 1500px;
}

/******************************************
/* LULU LEMON PROJECT PAGE
/*******************************************/

.luluProjects {
  display: -webkit-flex; /* Safari */
    -webkit-align-items: center;  Safari 7.0+ 
    display: flex;
    align-items: center;
    margin-top: -45px;
    margin-left: 22.5%;
    margin-bottom: -1350px;
}

.luluProjects img {
  margin-left: 35px;
  margin-top: 35px;
}

.copyrightLulu {
  text-align: left;
  letter-spacing: 1.5px;
  color: rgba(51, 51, 51, 1);
  opacity: 0.6;
  font-size: .75rem;
  margin-left: 10px;
  margin-top: 1500px;
}

/******************************************
/* PEPSI PROJECT PAGE
/*******************************************/

.pepsiProjects {
  display: -webkit-flex; /* Safari */
    -webkit-align-items: center;  Safari 7.0+ 
    display: flex;
    align-items: center;
    margin-top: -45px;
    margin-left: 22.5%;
    margin-bottom: -1350px;
}

.pepsiProjects img {
  margin-left: 35px;
  margin-top: 35px;
}

.copyrightPepsi {
  text-align: left;
  letter-spacing: 1.5px;
  color: rgba(51, 51, 51, 1);
  opacity: 0.6;
  font-size: .75rem;
  margin-left: 10px;
  margin-top: 1500px;
}

/******************************************
/* SASSOON PROJECT PAGE
/*******************************************/

.sassoonProjects {
  display: -webkit-flex; /* Safari */
    -webkit-align-items: center;  Safari 7.0+ 
    display: flex;
    align-items: center;
    margin-top: -45px;
    margin-left: 18.5%;
    margin-bottom: -1350px;
}

.sassoonProjects img {
  margin-left: 35px;
  margin-top: 35px;
}

.copyrightSassoon {
  text-align: left;
  letter-spacing: 1.5px;
  color: rgba(51, 51, 51, 1);
  opacity: 0.6;
  font-size: .75rem;
  margin-left: 10px;
  margin-top: 1500px;
}

/******************************************
/* ST. VINCENT PROJECT PAGE
/*******************************************/

.stVincentProjects {
  display: -webkit-flex; /* Safari */
    -webkit-align-items: center;  Safari 7.0+ 
    display: flex;
    align-items: center;
    height: 300px;
    margin-top: 100px;
    margin-left: 3%;
}

.stVincentProjects img {
  margin-left: 35px;
  margin-top: 35px;
}

.copyrightStVincent {
  text-align: left;
  letter-spacing: 1.5px;
  color: rgba(51, 51, 51, 1);
  opacity: 0.6;
  font-size: .75rem;
  margin-left: 10px;
  margin-top: 250px;
}

/******************************************
/* STYLE STATION PROJECT PAGE
/*******************************************/

.ssProjects {
  display: -webkit-flex; /* Safari */
    -webkit-align-items: center;  Safari 7.0+ 
    display: flex;
    align-items: center;
    margin-top: -45px;
    margin-left: 22.5%;
    margin-bottom: -1350px;
}

.ssProjects img {
  margin-left: 35px;
  margin-top: 35px;
}

.copyrightSs {
  text-align: left;
  letter-spacing: 1.5px;
  color: rgba(51, 51, 51, 1);
  opacity: 0.6;
  font-size: .75rem;
  margin-left: 10px;
  margin-top: 1500px;
}

/******************************************
/* CONTACT PAGE
/*******************************************/

.contactPage h1 {
  color: rgba(111, 167, 168, .9);
  text-align: center;
  margin-top: -40px;
  margin-bottom: 35px;

}

.contactPage p {
  text-align: center;
  font-family: 'Assistant', sans-serif;
  font-size: 1rem;
  color: rgba(51, 51, 51, 0.6);
  letter-spacing: .1rem;
  line-height: 2;
  margin-top: 75px;
  margin-bottom: 300px;
  text-transform: uppercase;
}*/


